NEXT_PUBLIC_SUPABASE_URL="https://ppbacjbalcaryshhenrk.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBwYmFjamJhbGNhcnlzaGhlbnJrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM0Mzk0MTEsImV4cCI6MjA4OTAxNTQxMX0.TCYYljthz3kHUoE1tDus9UzpjDoHDaa1oBJIAMnJLP8
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBwYmFjamJhbGNhcnlzaGhlbnJrIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzQzOTQxMSwiZXhwIjoyMDg5MDE1NDExfQ.URvN0Ivo10yQy0zeWX3YwzWcXL31tdnDbIKx-Y1jpos
